<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchResult()">Search</button>
  </form>
</nav>

<div class="row justify-content-between">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>
</div>

<div class="row justify-content-between">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>
</div>

<div class="row justify-content-between">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BZDM5MTM5OTYtMWUxMC00NjcxLWEyNzAtYjIwYjVhYjAyZDc3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Agent Vinod</h5>
      <h6>Released":"23 Mar 2012"</h6>
      <p class="card-text">A series of seemingly unconnected events across the world leads to Agent Vinod undertaking a globe-trotting mission to discover why his colleague was murdered.
        content.</p>
    </div>
  </div>
</div>
